* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.start h1,
.start h4 {
  color: #293264;
}

.start h1 {
  font-size: 36px;
  margin: 0;
}

.start h4,
.start button {
  font-size: 20px;
  font-weight: 300;
}

.start button {
  background-color: #4D5B9E;
  padding: 16px 45px;
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
}

.start button:hover,
.start button:active {
  background-color: #2d3e94;
  cursor: pointer;
}


.container {
  color: #293264;
  margin: 0;
  padding: 0 60px;
}

.quest-container {
  border-bottom: 1px solid #DBDEF0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.quest-container h2 {
  max-width: 750px;
}

.ans-container {
  display: flex;
  gap: 12px;
}

.ans {
  font-size: 17px;
  padding: 4px 15px;
  font-weight: 500;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.ans:hover,
.ans:active {
  cursor: pointer;
  background-color: #D6DBF5;
}

.selected {
  background-color: #D6DBF5;
}

.end {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #4D5B9E;
  color:#F5F7FB;
  padding: 11px 21px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  background-color: #2b3ea0;
}

.btn:disabled {
  background-color: gray;
}

.right {
  background-color: #94D7A2;
}
.wrong {
  background-color: #F8BCBC;
}

.restart {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}